@model MvcApplication.Models.User

<div class="row">
  @using (Html.BeginForm())
  {
    var propertyNames = (List<string>)ViewData["PropertyList"];

    foreach (string item in propertyNames)
    {
      <edit asp-for="@item"></edit>
    }
    <input type="submit" value="Submit" />
  }
</div>
